.everyone{
    background: #ebeeec;
    color: #e2d21c;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: larger;
}
.background{
    background: #e0ecdb;
    color: #141514;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: medium;
}
